<div class="ui inverted menu start-bar">

  <div class="header item">
    <h3><a href="/" class="follow">RANDOMSTRINGOFWORDS.com</a></h3>
  </div>
  <a href="/about" class="item static" data-slug="about">
    <i class="address book icon"></i>
    About
  </a>
  <% unless @blog_post_link == false %>
    <a href="<%= @blog_post_link %>" class="item static follow">
      <i class="file alternate outline icon"></i>
      Blog
    </a>
  <% end %>
  <a href="/build-log" class="item static">
    <i class="file video outline icon"></i>
    RV-10 VLog
  </a>
  <a href="/stocks" class="item static" data-slug="stocks">
    <i class="chart line icon"></i>
    Stock Bot
  </a>

  <div class="right menu">
    <a class="item static">
      <i class="question circle outline icon"></i>
    </a>
    <span class="item datetime">
      <time datetime="">3:57 PM<br />
      Jul 24, 2020</time>
    </span>
  </div>
</div>