<div class="ui inverted menu start-bar">
  <div class="header item">
    <h3><a href="/">RANDOMSTRINGOFWORDS.com</a></h3>
  </div>
  <a href="/about" class="item" data-slug="about">
    <i class="address book icon"></i>
    About
  </a>
  <a class="item">
    <i class="file alternate outline icon"></i>
    Blog
  </a>
  <a class="item">
    <i class="file video outline icon"></i>
    RV-10 VLog
  </a>
  <a href="/stocks" class="item" data-slug="stock">
    <i class="chart line icon"></i>
    Stock Bot
  </a>
  <div class="menu">
    <div class="ui dropdown item">
      <i class="file outline icon"></i>
      Pages <i class="caret up icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">Russian</a>
        <a class="item">Spanish</a>
      </div>
    </div>
  </div>
  <div class="right menu">
    <a class="item">
      <i class="question circle outline icon"></i>
    </a>
    <span class="item datetime">
      <time datetime="">3:57 PM<br />
      Jul 24, 2020</time>
    </span>
  </div>
</div>