
<div class="ui window segment maximized" id="stocks">
  <div class="ui compact segment">
    <div class="ui tiny top attached menu headbar">
      <strong class="active header item">
        <i class="chart line icon"></i>
        Stock Bot
      </strong>
      <div class="item">
        <i class="calendar alternate outline icon"></i>
        Something here....
      </div>
      <div class="right menu">
        <div class="ui small basic borderless icon buttons">
          <button class="ui button"><i class="question icon"></i></button>
          <button class="ui button minimize window"><i class="window minimize outline icon"></i></button>
          <button class="ui button restore window"><i class="window restore outline icon"></i></button>
          <button class="ui button maximize window hidden"><i class="window maximize outline icon"></i></button>
          <button class="ui button close window"><i class="window close outline icon"></i></button>
        </div>
      </div>
    </div>
    <div class="ui bottom attached segment stock-bot">
      <div class="upper">

        <div class="stocks">

          <div class="ui celled list">
            <% @companies.each do |company| %>
              <div class="item" data-symbol="<%= company.symbol %>">
                <div class="content">
                  <h3><%= company.symbol %></h3>
                  <%= company.name %>
                </div>
              </div>
            <% end %>
          </div>


        </div>

        <div id="chart" class="chart" data-url="<%= valuation_path('___') %>">
          <!-- Chart Body should go here -->
        </div>

        <div class="history">
          History
        </div>

      </div>
      <div class="lower">
        <div class="positions">
          Positions
        </div>
        <div class="bank">
          Bank
        </div>
      </div>
    </div>
  </div>
</div>

