<div class="right menu">
  <div class="ui small basic borderless icon buttons">
    <button class="ui button"><i class="question icon"></i></button>
    <% if !@document.nil? && @document.has_audio? %>
      <button class="ui button window audio play" data-audio="<%= @document.audio %>" data-autoplay="<%= @document.audioautoplay %>"><i class="play circle icon"></i></button>
      <button class="ui button window audio pause hidden"><i class="pause circle icon"></i></button>
    <% end %>
    <button class="ui button minimize window"><i class="window minimize outline icon"></i></button>
    <button class="ui button restore window"><i class="window restore outline icon"></i></button>
    <button class="ui button maximize window hidden"><i class="window maximize outline icon"></i></button>
    <button class="ui button close window"><i class="window close outline icon"></i></button>
  </div>
</div>
