// Place all the styles related to the desktop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background: rgb(240,242,231);
  background: -moz-linear-gradient(220deg, rgba(240,242,231,1) 0%, rgba(72,129,149,1) 35%, rgba(24,45,88,1) 100%);
  background: -webkit-linear-gradient(220deg, rgba(240,242,231,1) 0%, rgba(72,129,149,1) 35%, rgba(24,45,88,1) 100%);
  background: linear-gradient(220deg, rgba(240,242,231,1) 0%, rgba(72,129,149,1) 35%, rgba(24,45,88,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f2e7",endColorstr="#182d58",GradientType=1);
  overflow: hidden;
}

.ui.inverted.menu.start-bar {
  background-color: #111224;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 0;
  border-radius: 0;
  div.header.item h3 {
    a {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

.window-resizer { border: 2px dotted #00F; }

div.desktop {
  width: 100vw;
  height: 94vh;
}

div.ui.window {
  margin: 0;
  padding: 5px;
  border: 0;
  box-shadow: none;
  background: transparent;

  .compact.segment {
    border: 0;
    margin: 0;
    padding: 1px;
    padding-top: 0;

    .bottom.segment {
      overflow: auto;
    }
  }
}

.ui.basic.buttons.borderless {
  border: 0;
  border-radius: 0;
}

.float {
  &.right {
    float: right;
    clear: right;
  }
  &.left {
    float: left;
    clear: left;
  }
}

.padded {
  &.right {
    padding-right: 10px;
  }
  &.left {
    padding-left: 10px;
  }
  &.top {
    padding-top: 10px;
  }
  &.bottom {
    padding-bottom: 10px;
  }
}

.scaled {
  max-width: 500px;
  &.tiny {
    max-width: 50px;
  }
  &.small {
    max-width: 150px;
  }
  &.medium {
    max-width: 300px;
  }
}